@media only screen and (max-width: 1024px) {
    .central_block{
        max-width: 924px;
    }
}
@media only screen and (max-width: 992px) {
    .central_block{
        max-width: 892px;
    }
}
@media only screen and (max-width: 768px) {
    .central_block{
        max-width: 668px;
    }
    .d_flex.space_between.w-100 .center_text{
        margin: 15px 15px;
    }
    .presentation .d_flex.space_between.align_items_center div{
        margin: 0 10px;
    }
}
@media only screen and (max-width: 576px) {
    .central_block{
        max-width: 500px;
    }
    .navbar{
        display: block;
    }
    header .central_block nav{
        display: none;
    }
    header .central_block .w-100.d_flex.space_between.align_items_center{
        justify-content: space-between;
    }
    .presentation .d_flex.space_between.align_items_center div{
        max-width: none; text-align: center;
    }
    .presentation .d_flex.space_between.align_items_center.pics {
        margin: auto auto 60px;
    }
    .d_flex{
        flex-wrap: wrap; justify-content: center;
    }
    .order{
        order: -1;
    }
    .presentation .d_flex.space_between.align_items_center div{
        margin-bottom: 20px;
    }
    footer a{
        margin: 0 15px;
    }
}
@media only screen and (max-width: 420px) {
    .central_block{
    max-width: 390px;
    }
    .landing h1{
        font-size: 60px;
    }
}
footer a:last-child {
    margin: 0 15px;
}
@media only screen and (max-width: 375px) {
    .central_block{
        max-width: 349px;
    }
}
@media only screen and (max-width: 360px) {
    .central_block{
        max-width: 336px;
    }
    .download_page .container a{
        margin: 0;
    }
}
@media only screen and (max-width: 320px) {
    .central_block{
        max-width: 310px;
    }
    .landing h1{
        padding-top: 150px;
    }
}