@import url(owl.carousel.css);
@import url(owl.theme.default.css);
@import url(qwe.css);
@import url(normalize.css);
* {
  padding: 0;
  margin: 0; }

.dialog {
  display: none; }

a:hover {
  color: lightgray;
  transition: 0.5s; }

.landing {
  background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
  background-size: cover;
  box-sizing: border-box;
  height: 100vh; }

.image {
  position: absolute;
  right: 3vh;
  top: 15%; }

.d_block {
  display: block; }

.justify_center {
  justify-content: center; }

.block_inline {
  display: inline-block; }

.w-100 {
  width: 100%; }

.d_flex {
  display: flex; }

.space_between {
  justify-content: space-between; }

.space_around {
  justify-content: space-around; }

header {
  position: absolute;
  top: 29px;
  z-index: 1; }
  header .logo {
    padding-left: 10px;
    display: inline-block; }
  header .central_block .w-100.d_flex.space_between.align_items_center {
    position: relative; }
  header a {
    font-family: "Gothic A1", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    margin-right: 30px;
    text-decoration: none; }
  header a:last-child {
    margin: 0 10px 0 0; }

.align_items_center {
  align-items: center; }

.center_text {
  text-align: center; }

.navbar {
  margin-right: 10px; }

.landing {
  padding-bottom: 277px; }
  .landing h1 {
    margin: 0 0 10px;
    font-family: "Gothic A1", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    color: #FFFFFF;
    padding-top: 298px; }
  .landing p {
    color: #FFFFFF;
    font-family: "Gothic A1", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    margin: 0 0 25px; }
  .landing a {
    color: #FFFFFF;
    font-family: "Gothic A1", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    background: #FC0A7E;
    border-radius: 3px;
    padding: 20px 40px;
    text-decoration: none; }
  .landing a:hover {
    color: lightgray;
    transition: 0.5s; }
  .landing .central_block div:first-child {
    padding-left: 10px; }

.second_page {
  padding: 100px 10px 0;
  background: #1B1B1B; }
  .second_page p {
    font-family: "Gothic A1", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #A8A8A8; }
  .second_page h2 {
    font-family: "Gothic A1", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF; }

.presentation {
  padding-top: 80px;
  background-color: #FFFFFF; }
  .presentation .d_flex.space_between.align_items_center div {
    max-width: 306px; }
    .presentation .d_flex.space_between.align_items_center div p:first-child, .presentation .statistics .d_flex.space_between.align_items_center div p:last-child, .statistics .presentation .d_flex.space_between.align_items_center div p:last-child {
      font-family: "Gothic A1", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 30px;
      color: #A8A8A8; }
    .presentation .d_flex.space_between.align_items_center div p:last-child {
      font-family: "Gothic A1", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      color: #6B6B6B; }
    .presentation .d_flex.space_between.align_items_center div h3, .presentation .d_flex.space_between.align_items_center div .form p, .form .presentation .d_flex.space_between.align_items_center div p {
      font-family: "Gothic A1", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 38px;
      line-height: 48px;
      margin-bottom: 22px; }
  .presentation .d_flex.space_between.align_items_center .d_block.pics {
    max-width: 519px; }
  .presentation .d_flex.space_between.align_items_center.pics {
    max-width: 842px;
    margin: auto auto 160px;
    padding: 0 10px; }

.descriptions .d_flex.space_between.align_items_center {
  max-width: 842px;
  margin: auto auto 160px;
  padding: 0 10px; }
  .descriptions .d_flex.space_between.align_items_center div {
    max-width: 306px; }
    .descriptions .d_flex.space_between.align_items_center div p:first-child, .descriptions .statistics .d_flex.space_between.align_items_center div p:last-child, .statistics .descriptions .d_flex.space_between.align_items_center div p:last-child {
      font-family: "Gothic A1", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 30px;
      color: #A8A8A8; }
    .descriptions .d_flex.space_between.align_items_center div h3, .descriptions .d_flex.space_between.align_items_center div .form p, .form .descriptions .d_flex.space_between.align_items_center div p {
      font-family: "Gothic A1", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 38px;
      line-height: 48px;
      margin-bottom: 22px; }
    .descriptions .d_flex.space_between.align_items_center div p:last-child {
      font-family: "Gothic A1", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      color: #6B6B6B; }
  .descriptions .d_flex.space_between.align_items_center .d_block.pics {
    max-width: 519px; }

.d_flex.space_between.w-100 .center_text {
  max-width: 371px; }
  .d_flex.space_between.w-100 .center_text p:nth-child(2), .d_flex.space_between.w-100 .center_text p:last-child {
    font-family: "Gothic A1", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 17px; }
  .d_flex.space_between.w-100 .center_text p:last-child {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #6B6B6B;
    margin: 0; }
  .d_flex.space_between.w-100 .center_text img {
    margin-bottom: 40px; }

html .indent {
  margin-bottom: 163px; }

.statistics {
  padding-bottom: 170px; }
  .statistics .d_flex div p:first-child, .statistics .d_flex div p:last-child {
    font-family: "Gothic A1", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 59px;
    line-height: 90px;
    color: #1B1B1B; }
  .statistics .d_flex div p:last-child {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1B1B1B; }

.descriptions .d_flex.space_between.align_items_center.pics.last_two {
  max-width: 931px; }

.quotes {
  text-align: center;
  margin-bottom: 66px; }

.mr_20 {
  margin: 0 20px; }

.quote {
  max-width: 700px;
  margin: auto;
  text-align: center;
  padding: 0 10px; }

.owl-carousel .quote .quotes img {
  width: 58px;
  display: inline-block; }

.carousel .central_block .quote p {
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #6B6B6B;
  margin-bottom: 17px; }

.quote img {
  margin: 0 20px; }

.carousel .quote .d_flex.align_items_center p {
  margin-bottom: 0;
  width: 100%;
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: end;
  color: #6B6B6B; }
.carousel .quote .d_flex.align_items_center p:last-child {
  font-weight: 700;
  text-align: left; }

.quote .d_flex.align_items_center.center_text {
  justify-content: center; }

.owl-carousel.owl-loaded {
  margin-bottom: 284px; }

.owl-carousel .owl-item img {
  width: 30px; }

.owl-carousel .owl-dots {
  text-align: center;
  width: 100%;
  display: inline-block;
  bottom: -88px;
  position: absolute; }

.owl-carousel .owl-dot {
  margin-right: 16px; }

.owl-carousel .owl-dot span {
  width: 7px;
  height: 7px;
  background: #6B6B6B;
  display: inline-block; }

.owl-carousel .owl-dot.active span {
  background: #1B1B1B; }

.container h3, .container .form p, .form .container p {
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 40px;
  color: #FFFFFF; }
.container a:first-child, .container a:last-child {
  padding: 20px 40px;
  background: #FC0A7E;
  text-decoration: none;
  margin-right: 5px;
  color: #FFFFFF;
  border-radius: 3px; }
.container a:last-child {
  border: 1px solid #B04BB3;
  background: none;
  box-sizing: border-box;
  border-radius: 0;
  margin: 0 0 0 5px; }

.download_page {
  padding-top: 118px; }
  .download_page .d_block {
    line-height: 0; }
  .download_page .container {
    background: url("../images/download_page.jpg") no-repeat bottom center;
    background-size: cover;
    padding: 165px 0 176px; }
    .download_page .container a:last-child:hover {
      color: lightgray;
      transition: 0.5s; }
    .download_page .container a:first-child:hover, .download_page .container a:hover:last-child {
      color: lightgray;
      transition: 0.5s; }

.form {
  background: #1B1B1B;
  padding: 129px 10px 126px;
  color: #FFFFFF; }
  .form h3, .form p {
    font-family: "Gothic A1", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 20px; }
  .form p {
    font-size: 16px;
    line-height: 30px;
    color: #6B6B6B;
    margin-bottom: 40px; }
  .form div {
    justify-content: center; }
  .form div input:nth-child(2) {
    max-width: 263px;
    width: 100%;
    padding: 22px;
    font-family: "Gothic A1", sans-serif;
    box-shadow: 0 0 0 #FC0A7E;
    border-radius: 3px 0 0 3px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    line-height: 26px;
    color: #1B1B1B;
    border: none; }
  .form div input:last-child {
    background: #FC0A7E;
    border-radius: 0 3px 3px 0;
    max-width: 154px;
    width: 100%;
    font-family: "Gothic A1", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 22px;
    border: none; }
  .form div input:last-child:hover {
    cursor: pointer;
    color: lightgray;
    transition: 0.5s; }
  .form div label {
    display: none; }

footer {
  background: #1B1B1B;
  padding: 20px 0 69px; }
  footer .center_text {
    margin-bottom: 29px; }
  footer a {
    text-decoration: none;
    font-family: "Gothic A1", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #6B6B6B;
    margin: 0 15px; }

.ui-widget-content.ui-front.ui-draggable.ui-resizable.ui-dialog.ui-corner-all.ui-widget {
  right: 40%;
  bottom: 55%;
  background: #1B1B1B; }

.ui-dialog-content.ui-widget-content p {
  color: #FFFFFF; }

.ui-dialog .ui-dialog-titlebar {
  background: #FC0A7E;
  color: #FFFFFF; }

@keyframes header_anim {
  0% {
    top: -300px; }
  50% {
    top: -150px; }
  100% {
    top: 29px; } }
@keyframes nav_menu {
  0% {
    top: -300px; }
  50% {
    top: -150px; }
  100% {
    top: 50px; } }
@keyframes nav_btn {
  0% {
    margin-top: -300px; }
  50% {
    margin-top: -150px; }
  100% {
    margin-top: 26px; } }
@keyframes landing {
  0% {
    left: -1000px; }
  50% {
    left: -500px; }
  100% {
    left: 0; } }
.landing.w-100 .central_block {
  animation: landing 1s linear;
  position: relative; }

.logo-wrap {
  animation: header_anim 1s linear; }

.nav__content {
  animation: nav_menu 1s linear; }

.nav__list-item {
  margin-right: 30px;
  font-size: 15px; }
  .nav__list-item a {
    font-family: "Gothic A1", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    padding-left: 0;
    text-transform: none;
    letter-spacing: normal; }
  .nav__list-item a:hover {
    color: lightgray;
    transition: 0.5s; }
  .nav__list-item a:after {
    display: none; }

.nav__list-item:last-child {
  margin-right: 0; }

.nav-but-wrap {
  display: none; }

.nav {
  position: relative;
  z-index: 100; }

.nav:after {
  background: none; }

.nav:before, .nav:after {
  background: none; }

.nav__content {
  position: absolute;
  top: 53px;
  right: 0;
  width: auto; }

.nav__list {
  display: flex; }

.logo-wrap {
  top: 29px; }

.central_block {
  max-width: 1200px;
  margin: auto; }
  @media screen and (max-width: 1024px) {
    .central_block {
      max-width: 924px; } }
  @media screen and (max-width: 992px) {
    .central_block {
      max-width: 892px; } }
  @media screen and (max-width: 768px) {
    .central_block {
      max-width: 668px; } }
  @media screen and (max-width: 576px) {
    .central_block {
      max-width: 500px; } }
  @media screen and (max-width: 420px) {
    .central_block {
      max-width: 390px; } }
  @media screen and (max-width: 375px) {
    .central_block {
      max-width: 349px; } }
  @media screen and (max-width: 360px) {
    .central_block {
      max-width: 336px; } }
  @media screen and (max-width: 320px) {
    .central_block {
      max-width: 310px; } }

@media only screen and (max-width: 768px) {
  html body .hide {
    max-width: none; }

  .owl-carousel .owl-dots {
    bottom: -20px; }

  .download_page {
    padding-top: 50px; }

  .statistics {
    padding-bottom: 50px; }

  .owl-carousel.owl-loaded {
    margin-bottom: 100px; }

  html .indent {
    margin-bottom: 50px; }

  .nav-but-wrap {
    animation: nav_btn 1s linear; }

  .nav__list-item {
    opacity: 0;
    font-size: 8vh; }

  .nav-but-wrap {
    display: inline-block; }

  .nav__list-item {
    margin-right: 0; }

  .nav__list-item a {
    padding-left: 5px;
    line-height: 8vh; }

  .nav__list-item a:hover {
    color: lightgray;
    transition: 0.5s; }

  .nav {
    position: relative;
    z-index: 98; }

  .nav:after {
    background: #09090c; }

  .nav:before, .nav:after {
    background: rgba(20, 21, 26, 0.6); }

  .nav__content {
    position: absolute;
    top: 50vh;
    right: 0;
    width: 100%; }

  .nav__list {
    display: block; }

  .nav__list-item a:after {
    display: none; }

  .nav:before, .nav:after {
    position: absolute; }

  .d_flex.space_between.w-100 .center_text {
    margin: 15px 15px; }

  .presentation .d_flex.space_between.align_items_center div, .descriptions .d_flex.space_between.align_items_center div {
    margin: 0 10px; } }
@media only screen and (max-width: 576px) {
  header a {
    margin: 0; }

  .navbar {
    display: block; }

  header a:last-child {
    margin: 0; }
  header .central_block nav {
    display: none; }
  header .central_block .w-100.d_flex.space_between.align_items_center {
    justify-content: space-between; }

  .presentation .d_flex.space_between.align_items_center div {
    max-width: none;
    text-align: center; }
  .presentation .d_flex.space_between.align_items_center.pics {
    margin: auto auto 60px; }
  .presentation .d_flex.space_between.align_items_center div {
    margin-bottom: 20px; }

  .descriptions .d_flex.space_between.align_items_center div {
    max-width: none;
    text-align: center;
    margin-bottom: 20px; }
  .descriptions .d_flex.space_between.align_items_center.pics {
    margin: auto auto 60px; }

  .d_flex {
    flex-wrap: wrap;
    justify-content: center; }

  .order {
    order: -1; }

  footer a {
    margin: 0 15px; } }
@media only screen and (max-width: 460px) {
  .form div input:last-child {
    border-radius: 3px 3px 3px 3px;
    max-width: 307px;
    margin-top: 50px; }

  .form div input:nth-child(2) {
    border-radius: 3px 3px 3px 3px; } }
@media only screen and (max-width: 420px) {
  .landing h1 {
    font-size: 60px; }

  footer a:last-child {
    margin: 0 15px; } }
@media only screen and (max-width: 360px) {
  .download_page .container a {
    margin: 0; } }
@media only screen and (max-width: 320px) {
  .landing h1 {
    padding-top: 150px; } }

/*# sourceMappingURL=style.css.map */
