*{
    padding: 0;
    margin: 0;
}
.landing{
    background: url("../images/Landing.jpg") no-repeat; background-size: cover; box-sizing: border-box; height: 100vh;
}
.central_block{
    max-width: 1200px; margin: auto;
}
.d_block{
    display: block;
}
.block_inline{
    display: inline-block;
}
.w-100{
    width: 100%;
}
.d_flex{
    display: flex;
}
.space_between{
    justify-content: space-between;
}
header{
    position: absolute; top: 29px;z-index: 1;
}
.align_items_center{
    align-items: center;
}
.center_text{
    text-align: center;
}
header .logo{
    margin-right: 665px; display: inline-block;
}
header a{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;color: #FFFFFF;margin-right:30px;
    text-decoration: none;
}
.landing h1{
    margin: 0 0 10px;
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;color: #FFFFFF;padding-top: 298px;
}
.landing p{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;color: #FFFFFF; margin-bottom: 25px;
}
.landing a{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;color: #FFFFFF;background: #FC0A7E;
    border-radius: 3px; padding: 20px 40px; text-decoration: none;
}
.landing{
    padding-bottom: 277px; position: relative;

}
.second_page{
    padding-top: 100px;background: #1B1B1B;
}
.landing_pic{
    position: absolute; right: 44px;bottom: 0;
}
.second_page p{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase; margin-bottom: 30px; color: #A8A8A8;
}
.second_page h2{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    text-align: center; color: #FFFFFF;
}
.presentation{
    padding-top: 80px;
}
.presentation .d_flex.space_between.align_items_center div{
    max-width: 306px;
}
.presentation div p:first-child{ font-family: 'Gothic A1', sans-serif; font-style: normal; font-weight: 400; font-size: 12px; line-height: 20px;letter-spacing: 2px; text-transform: uppercase; margin-bottom: 30px;color: #A8A8A8;
}
.presentation div h3{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px; margin-bottom: 22px;
}
.presentation div p:last-child{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #6B6B6B;
}
.presentation .d_flex.space_between.align_items_center.pics{
    max-width: 842px; margin: auto auto 160px;
}
.d_flex.space_between.w-100 .center_text{
    max-width: 371px
}
.d_flex.space_between.w-100 .center_text p:nth-child(2){
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px; margin-bottom: 17px;
}
.d_flex.space_between.w-100 .center_text p:last-child{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #6B6B6B;
}
.d_flex.space_between.w-100 .center_text img{
    margin-bottom: 40px;
}
.presentation .indent{
    margin-bottom: 163px;
}
.presentation  div:nth-child(5) div p:first-child{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 59px;
    line-height: 90px; color: #1B1B1B;
}
.presentation  div:nth-child(5) div p:last-child{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center; color: #1B1B1B;
}
.presentation .stats{
    margin-bottom: 170px;
}
.presentation .d_flex.space_between.align_items_center.pics.last_two{
    max-width: 931px;
}
.presentation .quote p:first-child{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #6B6B6B; margin-bottom: 17px;
}
.presentation .quote div p:first-child{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #6B6B6B; margin-right: 20px; margin-bottom: 0;
}
.presentation .quote img{
    margin-right: 20px; width: 30px;
}
.quote div p:last-child{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #6B6B6B;
}
.quotes {
    text-align: center; margin-bottom: 66px;
}
.quote{
    text-align: center; margin: auto
}
.owl-carousel .owl-item.active{

}

